/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    margin-bottom: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #ffcc00;
}



.nav ul {
    list-style-type: none;
    text-align: center;
}

.nav ul li {
    display: inline;
    margin: 0 15px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer {
    background-color: #e1dddd;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer>p>a,
footer>nav>a {
    text-decoration: none;
    color: #333;
}

/* Hero section */
.hero {
    background-color: #007bff;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin: 0;
}

.hero p {
    font-size: 18px;
}

/* About Page Styles */
.about-content {
    padding: 40px;
    text-align: center;
}

.about-content h2 {
    font-size: 30px;
}

.about-content h3 {
    font-size: 24px;
    margin-top: 20px;
}

.about-content ul {
    list-style-type: none;
    padding: 0;
}

.about-content ul li {
    font-size: 18px;
    margin: 10px 0;
}

/* Contact Page Styles */
.contact-form {
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form p {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form form {
    display: grid;
    gap: 15px;
}

.contact-form label {
    font-size: 16px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}
